streamlit
langchain
langchain-ollama
langchain-community
langchain-core
chromadb
pysqlite3-binary
unstructured
python-docx
python-pptx
pillow
pdf2image
pytesseract
ollama
pdfminer.six==20201018
pi_heif