packaging==24.0
streamlit
langchain
langchain-ollama
langchain-community
langchain-core
langchain-chroma
chromadb
pysqlite3-binary
unstructured
python-docx
python-pptx
pillow
pdf2image
pytesseract
unstructured_pytesseract
ollama
pdfminer.six
pi_heif
unstructured_inference
torch
torchvision
torchaudio